<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/site.css">
    <meta charset="utf-8" />
    <title>{{title}}</title>
    <script type="application/ecmascript" src="/js/site.js">
    </script>
</head>
<body>
    {{> navBar}}
    {{{body}}}
</body>
</html>